<template name="swaggerFacet">
	<div id="swagger-ui-container"></div>

	<script type="text/javascript">
		$(function() {
			var TARGET_ID = 'swagger-ui-container';

			window.swaggerUi = new SwaggerUi({
				url: "{{resourceDeclaration}}",
				dom_id: TARGET_ID,
				supportedSubmitMethods: ["get", "post", "put", "delete"],
				onComplete: function(swaggerApi, swaggerUi){
					$("pre code").each(function(i, e) {
						hljs.highlightBlock(e)
					});
				},
				onFailure: function(data) {
					log("Unable to Load SwaggerUI");
				},
				docExpansion: "full"
			});

			window.swaggerUi.load();

			window.setTimeout(function() {
				var methodDoc = $('#' + TARGET_ID).find('#default_' + "{{operationId}}").remove();
				$('#' + TARGET_ID).replaceWith(methodDoc);
			}, 500);
		});
	</script>
</template>

<head>
	<script type="text/javascript" src="/swagger-ui/lib/shred.bundle.js"></script>
	<script type="text/javascript" src="/swagger-ui/lib/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="/swagger-ui/lib/jquery.slideto.min.js"></script>
	<script type="text/javascript" src="/swagger-ui/lib/jquery.wiggle.min.js"></script>
	<script type="text/javascript" src="/swagger-ui/lib/jquery.ba-bbq.min.js"></script>
	<script type="text/javascript" src="/swagger-ui/lib/handlebars-1.0.0.js"></script>
	<script type="text/javascript" src="/swagger-ui/lib/underscore-min.js"></script>
	<script type="text/javascript" src="/swagger-ui/lib/backbone-min.js"></script>
	<script type="text/javascript" src="/swagger-ui/lib/swagger.js"></script>
	<script type="text/javascript" src="/swagger-ui/lib/swagger-client.js"></script>
	<script type="text/javascript" src="/swagger-ui/swagger-ui.js"></script>
	<script type="text/javascript" src="/swagger-ui/lib/highlight.7.3.pack.js"></script>
</head>
